@import url("theme.css");

/*  The Return of the Borg.
 *
 *  Have a bit green and grey and darkness (and if only in the upper left corner).
 */

.wy-side-nav-search {
    background-color: #000000 !important;
}

.wy-side-nav-search input[type="text"] {
        border-color: #000000;
}

.wy-side-nav-search > a {
    color: rgba(255, 255, 255, 0.5);
}

.wy-side-nav-search > div.version {
    color: rgba(255, 255, 255, 0.5);
}

dt code {
    font-weight: normal;
}

#internals .toctree-wrapper > ul {
    column-count: 3;
    -webkit-column-count: 3;
}

#internals .toctree-wrapper > ul > li {
    display: inline-block;
    font-weight: bold;
}

#internals .toctree-wrapper > ul > li > ul {
    font-weight: normal;
}

.experimental,
#debugging-facilities,
#borg-recreate {
    /* don't change text dimensions */
    margin: 0 -40px; /* padding below + border width */
    padding: 0 20px; /* 20 px visual margin between edge of text and the border */
    /* fallback for browsers that don't have repeating-linear-gradient: thick, red lines */
    border-left: 20px solid red;
    border-right: 20px solid red;
    /* fancy red stripes */
    border-image: repeating-linear-gradient(
            -45deg,rgba(255,0,0,0.1) 0,rgba(255,0,0,0.75) 10px,rgba(0,0,0,0) 10px,rgba(0,0,0,0) 20px,rgba(255,0,0,0.75) 20px) 0 20 repeat;
}

.topic {
    margin: 0 1em;
    padding: 0 1em;
    /* #4e4a4a = background of the ToC sidebar */
    border-left: 2px solid #4e4a4a;;
    border-right: 2px solid #4e4a4a;;
}

/* the rtd theme has "nowrap" here which causes tables to have scroll bars.
 * undo that setting. it does not seem to cause issues, even when making the
 * viewport narrow.
 */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

/* for some reason the rtd theme makes text in tables very small.
 * fix that.
 */
.wy-table td,
.rst-content table.docutils td,
.rst-content table.field-list td,
.wy-table th,
.rst-content table.docutils th,
.rst-content table.field-list th {
    font-size: 100%;
}

code,
.rst-content tt.literal,
.rst-content tt.literal,
.rst-content code.literal,
.rst-content tt,
.rst-content code,
p .literal,
p .literal span {
    border: none;
    padding: 0;
    color: black; /* slight contrast with #404040 of regular text */
    background: none;
}

cite {
    white-space: nowrap;
    color: black; /* slight contrast with #404040 of regular text */
    font-size: 75%;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
    "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    font-style: normal;
    text-decoration: underline;
}
