[run]
branch = True
disable_warnings = module-not-measured
source = src/borg
omit =
    */borg/__init__.py
    */borg/__main__.py
    */borg/_version.py
    */borg/fuse.py
    */borg/support/*
    */borg/testsuite/*
    */borg/hash_sizes.py

[report]
exclude_lines =
    pragma: no cover
    pragma: freebsd only
    pragma: unknown platform only
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
ignore_errors = True
