MANIFEST
docs/_build
build
dist
borg-env
.tox
src/borg/compress.c
src/borg/crypto/low_level.c
src/borg/hashindex.c
src/borg/item.c
src/borg/algorithms/chunker.c
src/borg/algorithms/crc32.c
src/borg/platform/darwin.c
src/borg/platform/freebsd.c
src/borg/platform/linux.c
src/borg/platform/posix.c
src/borg/_version.py
*.egg-info
*.pyc
*.pyo
*.so
.idea/
.cache/
borg.build/
borg.dist/
borg.exe
.coverage
.coverage.*
.vagrant
.eggs
