MANIFEST
docs/_build
build
dist
borg-env
.tox
hashindex.c
chunker.c
compress.c
crypto.c
platform_darwin.c
platform_freebsd.c
platform_linux.c
*.egg-info
*.pyc
*.pyo
*.so
.idea/
.cache/
borg/_version.py
borg.build/
borg.dist/
borg.exe
.coverage
.vagrant
.eggs
