Abdel-Rahman <abodyxplay1@gmail.com>
Brian Johnson <brian@sherbang.com>
Carlo Teubner <carlo.teubner@gmail.com>
Mark Edgington <edgimar@gmail.com>
Leo Famulari <leo@famulari.name>
Marian Beermann <public@enkore.de>
Thomas Waldmann <tw@waldmann-edv.de>
Andrey Bienkowski <hexagon-recursion@posteo.net>
Ebuzer Celil Durmaz <durmazs540@gmail.com>
Manuel Riel <manu@snapdragon.cc>
Narendra Vardi <narendravardi1127@gmail.com>
Nehalenniæ Oudin <oudin@crans.org>
Samuel BF <36996277+Samuel-BF@users.noreply.github.com>
Suryansh Pal <defnvary@gmail.com>
Ted Lawson <big.tedde@gmail.com>
Vaskebjoern <190291379+vaskebjoern@users.noreply.github.com>
Dan Christensen <jdc@uwo.ca> <jdc+github@uwo.ca>
Alexander-N <a.niederbuehl@gmail.com> <A.Niederbuehl@gmail.com>
Andrey Bienkowski <hexagon-recursion@posteo.net> <hexagonrecursion@gmail.com>
Antoine Beaupré <anarcat@koumbit.org> <anarcat@debian.org> <anarcat@users.noreply.github.com>
Divyansh Agrawal <154041893+div-dev123@users.noreply.github.com> <your.email@example.com>
Franco Ayala <franco.a98@outlook.com> <frma98@gmail.com>
Gianfranco Costamagna <costamagnagianfranco@yahoo.it> <locutusofborg@debian.org>
Hartmut Goebel <h.goebel@crazy-compilers.com> <htgoebel@users.noreply.github.com>
Ken Kundert <ken@theKunderts.net> <thenurd@nurdletech.com>
Manuel Riel <manu@snapdragon.cc> <3916435+m3nu@users.noreply.github.com>
Michael Deyaso <mdeyaso@fusioniq.io> <60641399+Michael-Girma@users.noreply.github.com>
Michael Gajda <michaelg@speciesm.net> <michael.gajda@tu-dortmund.de>
Milkey Mouse <milkeymouse@meme.institute> <milkey-mouse@users.noreply.github.com>
Narendra Vardi <narendravardi1127@gmail.com> <texehef@payperex2.com>
Nehalenniæ Oudin <oudin@crans.org> <remi.oudin@lip6.fr>
Ronny Pfannschmidt <opensource@ronnypfannschmidt.de> <ronny.pfannschmidt@redhat.com>
Russell Davis <551404+russelldavis@users.noreply.github.com> <russelldavis@users.noreply.github.com>
Stefan Tatschner <rumpelsepp@sevenbyte.org> <stefan@sevenbyte.org>
Stephan Herbers <github@sherbers.de> <stephan13360@users.noreply.github.com>
Thalian <github@fantasya-pbem.de> <39634976+fantasya-pbem@users.noreply.github.com>
Thomas Portmann <thomas@portmann.org> <59793129+alfredo08154711@users.noreply.github.com>
infectormp <infectormp@gmail.com> <infectormp@users.noreply.github.com>
step21 <step21@devtal.de> <step21@users.noreply.github.com>
