language: python
python:
  - "3.2"
  - "3.3"
  - "3.4"
# command to install dependencies
install:
  - "sudo apt-get install -y libacl1-dev"
  - "pip install --use-mirrors Cython"
  - "pip install --process-dependency-links -e ."
# command to run tests
script: fakeroot -u python -m attic.testsuite.run -vb
