include README.rst AUTHORS LICENSE CHANGES.rst MANIFEST.in
exclude .coveragerc .gitattributes .gitignore .travis.yml Vagrantfile
prune .travis
prune .github
graft borg
graft docs
prune docs/_build
global-exclude *.py[co] *.orig *.so *.dll
